<header id="homee">
			<div class="container">
				<div class="top-bar">
					<ul class="con-links">
						<li><span>+91 8015106497</span></li>
						<li><span>hello@shopknekt.com</span></li>
					</ul>
					<!-- <div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search">
							<button type="submit"><img src="http://creativethemes.us/helix/images/search.png" alt=""></button>
						</form>
					</div> -->
				</div>
				<div class="bt-header"></div>
				<div class="bottom-header one hmee">
					<div class="container">
						<div class="logo">
							<a href="index.html" title="">
							<img src="<%= asset_url('Logo.png') %>" alt="" class= "z-img img-responsive" />	
							</a>
						</div><!--logo end-->
						<nav>
							<ul>
								<li><a href="#homee" title="">Home</a>
								</li>
								<li><a href="#servicess" title="">Services</a></li>
								<li><a href="#aboutt" title="">About us</a></li>
								<!-- <li><a href="#workk" title="">Work</a></li> -->
								<!-- <li><a href="#teamm" title="">Team</a></li> -->
								<li><a href="#contactt" title="">Contact</a></li>
							</ul>
						</nav><!--nav end-->
						<div class="menu-icon">
							<img class="op" src="http://creativethemes.us/helix/images/menu-bar.png" alt="">
							<img class="crs" src="http://creativethemes.us/helix/images/cross.png" alt="">
						</div><!--menu-icon end-->
					</div>
				</div>
			</div>
		</header><!-- Header end-->	

		<div class="responsive-mobile-menu">
			<div class="reponsive-menu">
				<ul>
					<li><a href="#homee" title="">Home <span class="caret"></span></a>
					</li>
					<li><a href="#servicess" title="">Features</a></li>
					<li><a href="#aboutt" title="">About Us</a></li>
					<!-- <li><a href="#workk" title="">Work</a></li> -->
					<!-- <li><a href="#teamm" title="">Team</a></li> -->
					<li><a href="#" title="">Pages <span class="caret"></span></a>
						<ul>
							<li><a class="external" href="blogs.html" title="">Blog</a></li>
							<li><a class="external" href="blog-details.html" title="">Blog Details</a></li>
							<li><a class="external" href="comingsoon2.html" title="">Coming Soon</a></li>
							<li><a class="external" href="error.html" title="">Error 404</a></li>
						</ul>
					</li>
					<li><a href="#contactt" title="">Contact</a></li>
				</ul>
			</div>
		</div>